<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletHotel</servlet-name>
        <servlet-class>Servlet.ServletHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMaps</servlet-name>
        <servlet-class>Servlet.ServletMaps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHotelSimple</servlet-name>
        <servlet-class>Servlet.ServletHotelSimple</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSVG</servlet-name>
        <servlet-class>Servlet.ServletSVG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFOP</servlet-name>
        <servlet-class>Servlet.ServletFOP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletMaps</servlet-name>
        <url-pattern>/maps.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHotel</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHotelSimple</servlet-name>
        <url-pattern>/hotel.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSVG</servlet-name>
        <url-pattern>/ServletSVG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletFOP</servlet-name>
        <url-pattern>/ServletFOP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
            
            
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
