/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 janv. 2014, 17:40:03
    Author     : Nicolas
*/
table
{
    border: 1px solid black;
}
div.enTete
{
    text-align: center;
}
div.nom
{
    
    font-size: 28px;
    color: blue;   
}
div.adresse
{
    
}
div.carrouselEtMap{
    height: 20%
}

div.carrouselEtMap.gauche{
    height: 20%
}

div.caracteristiques
{
    font-size: 14px;
}




